{% extends "::base.html.twig" %}


{% block title %}{{ parent() }}{% endblock %}


{% block stylesheets %}
	<link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/design.css') }}" rel="stylesheet" type="text/css">

{% endblock %}


{% block body %}


    <header>
        <div class="container">
        	<div class="title">
            <a href="{{ path('yabe_main_homepage') }}">
				<div class="hero-titles">
					<h1><font color = "0076F5">y</font><font color = "F20C1B">a</font><font color = "FFE347">b</font><font color = "59E35B">e</font></h1>
				</div>
			</a>
			</div>
            <div class="infos">
                {% include "YabeMainBundle:Home:header/user_infos.html.twig" %}

                {% block notification %}
                {% endblock %}
            </div>
        </div>
    </header>


	<div id="main-container">

		<div id="container">
			{% block container %}

				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

					connected

				{% else %}

					not connected

				{% endif %}





			{% endblock %}
			<div class="clear"></div>
		</div>
	</div>
{% endblock %}
