{% extends "::base.html.twig" %}


{% block title %}{{ parent() }}{% endblock %}


{% block stylesheets %}
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/bootstrap-theme.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/design.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}


    <header>
        <div class="container">
        	<div class="title">
            <a href="{{ path('yabe_main_homepage') }}">
				<div class="hero-titles">
					<h1><font color = "0076F5">y</font><font color = "F20C1B">a</font><font color = "FFE347">b</font><font color = "59E35B">e</font></h1>
				</div>
			</a>
			</div>
            <div class="infos">
                {% include "YabeMainBundle:Home:header/user_infos.html.twig" %}

                {% block notification %}
                {% endblock %}
            </div>
        </div>
    </header>


	<div id="main-container">

		<div id="container">

			{% block container %}

				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

					{# connected #}

				{% else %}

					{# not connected #}
          <a style="float:right; margin:30px;" class="btn btn-primary" href="{{ asset('yabe.apk') }}">Download Android App</a>
          <div class="clear"></div>

				{% endif %}

				<div id="results"></div>
 
<script>
var book_category = ["45110","378","29223","11104","2228","29792","377","29399","118254","280","268", "267","45111","45112","45113","45114","45115","4162026","4162027","4162028","48831"
   	 ,"118255","118256","118257","118258","118259","162029","162030","162031","616","42939","46752","52543","93300"];
 
 function setOnClick() {
 	$(".ebayTable").hover(function(obj){
 		$(this).attr("style", "background-color: #DDDDDD");
 	},
 	function(obj){
 		$(this).attr("style", "background-color: #CCCCCC");
 	} );
	$(".ebayTable").click(function() {
		console.log("poo");
		window.location.href = $(this).attr("data-url");
	});
 }
// Parse the response and build an HTML table to display search results
function _cb_findItemsByKeywords(root) {
  var items = root.findItemsByKeywordsResponse[0].searchResult[0].item || [];
  var html = [];
  html.push('<table id="ebay" border="0" cellspacing="0" cellpadding="3"><tbody>');
  for (var i = 0; i < items.length; ++i) {
	var item 	= items[i];
	var categorie = item.primaryCategory[0].categoryId;
	var inCat = false;
	for( var j = 0; j < book_category.length; j++) {
    if(book_category[j] == categorie) {
   	 inCat = true;
    }
	}
	var title	= item.title;
	var pic  	= item.galleryURL;
	var price = item.sellingStatus[0].currentPrice[0].__value__;
	var viewitem = item.viewItemURL;
	var itemCondition;
    if(item.condition)
   		 itemCondition = item.condition[0].conditionDisplayName[0];
    else
   	 itemCondition = "No reviews";
	if (null != title && null != viewitem && inCat) {
  	html.push('<tr style="background-color:#CCCCCC" class="ebayTable" data-url=\'' + viewitem + '\'><td>' + '<img src="' + pic + '" border="0">' + '</td>' +  
  	'<td>' + title + '</td><td>Item Condition : ' + itemCondition + '</td><td>Price : ' + price + '&#8364;</tr>');
	}
  }
  html.push('</tbody></table>');
  document.getElementById("results").innerHTML = html.join("");
  setOnClick();
}  // End _cb_findItemsByKeywords() function
 
// Create a JavaScript array of the item filters you want to use in your request
var filterarray = [
  {"name":"MaxPrice",  
   "value":"25",  
   "paramName":"Currency",  
   "paramValue":"USD"},
  {"name":"FreeShippingOnly",  
   "value":"true",  
   "paramName":"",  
   "paramValue":""},
  {"name":"ListingType",  
   "value":["AuctionWithBIN", "FixedPrice", "StoreInventory"],  
   "paramName":"",  
   "paramValue":""},
 
  ];
 
 
// Define global variable for the URL filter
var urlfilter = "";
 
// Generates an indexed URL snippet from the array of item filters
function  buildURLArray() {
  // Iterate through each filter in the array
  for(var i=0; i<filterarray.length; i++) {
	//Index each item filter in filterarray
	var itemfilter = filterarray[i];
	// Iterate through each parameter in each item filter
	for(var index in itemfilter) {
  	// Check to see if the paramter has a value (some don't)
  	if (itemfilter[index] !== "") {
    	if (itemfilter[index] instanceof Array) {
      	for(var r=0; r<itemfilter[index].length; r++) {
      	var value = itemfilter[index][r];
      	urlfilter += "&itemFilter\(" + i + "\)." + index + "\(" + r + "\)=" + value ;
      	}
    	}  
    	else {
      	urlfilter += "&itemFilter\(" + i + "\)." + index + "=" + itemfilter[index];
    	}
  	}
	}
  }
}  // End buildURLArray() function
 
// Execute the function to build the URL filter
buildURLArray(filterarray);
 
// Construct the request
// Replace MyAppID with your Production AppID
var url = "http://svcs.ebay.com/services/search/FindingService/v1";
	url += "?OPERATION-NAME=findItemsByKeywords";
	url += "&SERVICE-VERSION=1.12.0";
	url += "&SECURITY-APPNAME=jimkarpi-e19c-438b-8e13-d10fabd69ec4";
	url += "&GLOBAL-ID=EBAY-FR";
	url += "&RESPONSE-DATA-FORMAT=JSON";
	url += "&callback=_cb_findItemsByKeywords";
	url += "&REST-PAYLOAD";
	url += "&keywords=rowling";
	url += urlfilter;
 
 
// Submit the request  
s=document.createElement('script'); // create script element
s.src= url;
document.body.appendChild(s);

// Display the request as a clickable link for testing
//document.write("<a href=\"" + url + "\">" + url + "</a>");
 
</script>





			{% endblock %}
			<div class="clear"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
