{% trans_default_domain 'FOSUserBundle' %}

<h1>
    Profile
    <a class="edit" href="{{ path('fos_user_profile_edit') }}"></a>
</h1>

<table class="cleanTab">
    <tbody>
        <tr>
            <th>{{ 'profile.show.username'|trans }}</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>First name</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>{{ 'profile.show.email'|trans }}</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ user.phone }}</td>
        </tr>
        <tr>
            <th>Profile Picture</th>
            <td>{% if user.profilePicture is not null %}<img src="{{ user.profilePicture }}" width="50px" height="50px" alt="Profile Picture"/>{% endif %}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" style="margin-top:20px;" href="{{ path('fos_user_profile_edit') }}">Edit profile</a>
<a class="btn btn-primary" style="margin-top:20px;" href="{{ path('fos_user_change_password') }}">Change password</a>
